@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carrois+Gothic+SC&family=Julius+Sans+One&family=Noto+Serif+TC:wght@200&family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(40deg, hsl(180, 50%, 60%) 0%, hsl(220, 50%, 60%) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
}